/*color*/ /*responsive mixin*/
/*common mixin*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
}

a, a:hover {
  color: #000000;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html, body, * {
    font-size: 14px;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body, * {
  font-family: "Noto Sans KR", sans-serif;
}

.wide-container {
  width: 100%;
  max-width: 100%;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .wide-container {
    padding: 0 15px;
  }
}

.container {
  width: 1230px;
  padding: 0 15px;
  max-width: 100%;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 20px 0;
  }
}
.header__container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  width: 52px;
  margin-right: 75px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1500px) {
  .header__logo {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .header__logo {
    width: auto;
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .header__logo .logo {
    display: block;
  }
  .header__logo .logo img {
    width: 40px;
  }
}
.header__logo--menu-btn {
  display: none;
}
@media (max-width: 991px) {
  .header__logo--menu-btn {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    margin-right: 30px;
  }
  .header__logo--menu-btn span {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #6B6262;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__logo--menu-btn span:nth-child(2) {
    top: 12px;
  }
  .header__logo--menu-btn span:nth-child(3) {
    top: 24px;
  }
}
@media (max-width: 480px) {
  .header__logo--menu-btn {
    width: 25px;
    height: 20px;
    margin-right: 15px;
  }
  .header__logo--menu-btn span {
    height: 2px;
    border-radius: 1px;
  }
  .header__logo--menu-btn span:nth-child(2) {
    top: 9px;
  }
  .header__logo--menu-btn span:nth-child(3) {
    top: 18px;
  }
}
.header__menu {
  width: calc(100% - 602px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1500px) {
  .header__menu {
    width: calc(100% - 427px);
  }
}
@media (max-width: 1200px) {
  .header__menu {
    width: calc(100% - 207px);
  }
}
@media (max-width: 991px) {
  .header__menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 50px 15px;
    background: #fff;
    border-right: 1px solid #e5e5e5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .header__menu.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
.header__menu .header__mobile-close {
  display: none;
}
@media (max-width: 991px) {
  .header__menu .header__mobile-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
  }
  .header__menu .header__mobile-close .line {
    width: 1px;
    height: 22px;
    position: absolute;
    top: -1px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #000000;
  }
  .header__menu .header__mobile-close .line:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.header__menu--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}
@media (max-width: 991px) {
  .header__menu--ul {
    display: block;
  }
}
.header__menu--ul > li {
  margin-right: 60px;
  position: relative;
}
@media (max-width: 1500px) {
  .header__menu--ul > li {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .header__menu--ul > li {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__menu--ul > li.has--sub-menu.active .header__menu--sub2 {
    display: block;
  }
  .header__menu--ul > li.has--sub-menu::after {
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    top: 8px;
    right: 5px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
  .header__menu--ul > li.has--sub-menu.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.header__menu--ul > li:last-child {
  margin-right: 0;
}
.header__menu--ul > li:hover .header__menu--sub2 {
  top: 100px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .header__menu--ul > li:hover .header__menu--sub2 {
    top: auto;
  }
}
.header__menu--ul > li > a {
  font-size: 22px;
  display: block;
  color: #000000;
  line-height: 100px;
}
@media (max-width: 1500px) {
  .header__menu--ul > li > a {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .header__menu--ul > li > a {
    line-height: 1.2;
  }
}
.header__menu--sub2 {
  width: 200px;
  padding: 20px 0;
  text-align: center;
  z-index: 1;
  top: 150px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1500px) {
  .header__menu--sub2 {
    width: 150px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 {
    width: 100%;
    position: relative;
    text-align: left;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: auto;
    top: auto;
    padding: 20px 0 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}
.header__menu--sub2 > ul > li {
  position: relative;
  margin-bottom: 15px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li.has--sub-menu2.active .header__menu--sub3 {
    display: block;
  }
  .header__menu--sub2 > ul > li.has--sub-menu2.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.header__menu--sub2 > ul > li.has--sub-menu2::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  top: 8px;
  right: 10px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.header__menu--sub2 > ul > li:hover > a::after {
  width: calc(100% + 4px);
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li:hover > a::after {
    width: 5px;
  }
}
.header__menu--sub2 > ul > li:hover .header__menu--sub3 {
  top: -21px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li:hover .header__menu--sub3 {
    top: auto;
  }
}
.header__menu--sub2 > ul > li:last-child {
  margin-bottom: 0;
}
.header__menu--sub2 > ul > li > a {
  font-size: 16px;
  color: #000000;
  position: relative;
  display: block;
}
.header__menu--sub2 > ul > li > a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #000000;
  bottom: -5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}
@media (max-width: 1500px) {
  .header__menu--sub2 > ul > li > a {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li > a {
    padding-left: 20px;
  }
  .header__menu--sub2 > ul > li > a::after {
    content: "";
    width: 5px;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 5px;
    background: #000000;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: auto;
  }
}
.header__menu--sub3 {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 198px;
  padding: 20px 15px;
  text-align: center;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1500px) {
  .header__menu--sub3 {
    width: 150px;
    padding: 20px 10px;
    left: 148px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub3 {
    position: relative;
    top: auto;
    left: auto;
    text-align: left;
    border: 0;
    padding: 10px 0 0;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}
.header__menu--sub3 ul li {
  position: relative;
  margin-bottom: 15px;
}
.header__menu--sub3 ul li:hover a::after {
  width: calc(100% + 4px);
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li:hover a::after {
    width: 3px;
  }
}
.header__menu--sub3 ul li:last-child {
  margin-bottom: 0;
}
.header__menu--sub3 ul li a {
  position: relative;
  font-size: 15px;
  color: #000000;
}
@media (max-width: 1500px) {
  .header__menu--sub3 ul li a {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li a {
    padding-left: 35px;
  }
}
.header__menu--sub3 ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #000000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  bottom: -5px;
  -webkit-transform-origin: center;
          transform-origin: center;
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li a::after {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 11px;
    left: 25px;
    background: #000000;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: auto;
  }
}
.header__search {
  width: 290px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .header__search {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .header__search {
    display: block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header__search {
    margin-top: 15px;
  }
}
.header__search--button {
  position: absolute;
  display: block;
  top: 8px;
  left: 13px;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
  background: none;
}
@media (max-width: 480px) {
  .header__search--button {
    top: 4px;
    left: 5px;
  }
}
.header__search--input {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: 1px solid #C2CAD3;
  padding: 0 15px 0 45px;
  color: #000000;
}
@media (max-width: 480px) {
  .header__search--input {
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 35px;
  }
}
.header__search--input::plceholder {
  color: #858D96;
}
.header__buttons {
  width: 155px;
  margin-left: 20px;
  position: relative;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .header__buttons {
    width: 125px;
  }
}
@media (max-width: 1200px) {
  .header__buttons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .header__buttons {
    width: auto;
  }
}
.header__buttons > a {
  margin-right: 30px;
}
@media (max-width: 1500px) {
  .header__buttons > a {
    margin-right: 15px;
  }
}
.header__buttons > a:last-child {
  margin-right: 0;
}

/* main-banner */
.slider__banner {
  position: relative;
  padding: 90px 0 110px;
}
.slider__banner::before {
  content: "";
  width: 100%;
  height: 450px;
  background: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__banner .swiper-container {
  overflow: hidden;
}
.slider__banner .swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 80px 0 80px 0;
}
.slider__banner--img {
  display: block;
  width: 100%;
  padding-bottom: 117%;
  position: relative;
}
.slider__banner--img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: inherit;
  height: 100%;
}
.slider__banner--text {
  position: absolute;
  z-index: 1;
  right: 40px;
  text-align: right;
  bottom: 0;
  color: #ffffff;
  width: 60%;
}
.slider__banner--text-subject {
  font-size: 38px;
}