/*color*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-black:#000000;
  --color-LBlack:#292D30;
  --color-white:#ffffff;
  --color-grey:#e5e5e5;
  --color-Lgrey:#f6f6f6;
  --color-Dgrey:#616060;
  --color-coral:#ff7777;
  --color-Lblue:#C2CAD3;
  --color-Dblue:#858D96;
  --border-grey:#EAEAEB;
  --border-Lgrey: #EBEBEB;
  --border-blue:#E6E6E7;
  --border-color:#C2CAD3;
  --kakao-bg:#F4DC34;
  --kakao-color:#222322;
  --naver-bg:#21C629;
  --naver-color:#ffffff;
  --input-error: #FD7679;
}

/*responsive mixin*/
/*common mixin*/
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
}

a, a:hover, button {
  color: var(--color-black);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body, * {
  font-family: "Noto Sans KR", sans-serif;
}

.wide-container {
  width: 100%;
  max-width: 100%;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1650px) {
  .wide-container {
    padding: 0 15px;
  }
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  position: relative;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  width: 100%;
  position: relative;
  background: var(--color-white);
  z-index: 3;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 20px 0;
  }
}
.header__container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  width: 52px;
  margin-right: 75px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1500px) {
  .header__logo {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .header__logo {
    width: auto;
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .header__logo .logo {
    display: block;
  }
  .header__logo .logo img {
    width: 40px;
  }
}
.header__logo--menu-btn {
  display: none;
}
@media (max-width: 991px) {
  .header__logo--menu-btn {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    margin-right: 30px;
  }
  .header__logo--menu-btn span {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #6B6262;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__logo--menu-btn span:nth-child(2) {
    top: 12px;
  }
  .header__logo--menu-btn span:nth-child(3) {
    top: 24px;
  }
}
@media (max-width: 480px) {
  .header__logo--menu-btn {
    width: 25px;
    height: 20px;
    margin-right: 15px;
  }
  .header__logo--menu-btn span {
    height: 2px;
    border-radius: 1px;
  }
  .header__logo--menu-btn span:nth-child(2) {
    top: 9px;
  }
  .header__logo--menu-btn span:nth-child(3) {
    top: 18px;
  }
}
.header__menu {
  width: calc(100% - 602px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1500px) {
  .header__menu {
    width: calc(100% - 427px);
  }
}
@media (max-width: 1200px) {
  .header__menu {
    width: calc(100% - 207px);
  }
}
@media (max-width: 991px) {
  .header__menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 50px 15px;
    background: var(--color-white);
    border-right: 1px solid var(--color-Lgrey);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header__menu.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
.header__menu .header__mobile-close {
  display: none;
}
@media (max-width: 991px) {
  .header__menu .header__mobile-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
  }
  .header__menu .header__mobile-close .line {
    width: 1px;
    height: 22px;
    position: absolute;
    top: -1px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: var(--color-black);
  }
  .header__menu .header__mobile-close .line:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.header__menu--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-white);
}
@media (max-width: 991px) {
  .header__menu--ul {
    display: block;
  }
}
.header__menu--ul > li {
  margin-right: 60px;
  position: relative;
}
@media (max-width: 1500px) {
  .header__menu--ul > li {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .header__menu--ul > li {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__menu--ul > li.has--sub-menu.active .header__menu--sub2 {
    display: block;
  }
  .header__menu--ul > li.has--sub-menu::after {
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--color-black);
    top: 8px;
    right: 5px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
  .header__menu--ul > li.has--sub-menu.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.header__menu--ul > li:last-child {
  margin-right: 0;
}
.header__menu--ul > li:hover .header__menu--sub2 {
  top: 100px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .header__menu--ul > li:hover .header__menu--sub2 {
    top: auto;
  }
}
.header__menu--ul > li > a {
  font-size: 22px;
  display: block;
  color: var(--color-black);
  line-height: 100px;
}
@media (max-width: 1500px) {
  .header__menu--ul > li > a {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .header__menu--ul > li > a {
    line-height: 1.2;
  }
}
.header__menu--sub2 {
  width: 200px;
  padding: 20px 0;
  text-align: center;
  z-index: 1;
  top: 150px;
  background: var(--color-white);
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1500px) {
  .header__menu--sub2 {
    width: 150px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 {
    width: 100%;
    position: relative;
    text-align: left;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: auto;
    top: auto;
    padding: 20px 0 0;
    border: 0;
    border-top: 1px solid var(--color-grey);
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}
.header__menu--sub2 > ul > li {
  position: relative;
  margin-bottom: 15px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li.has--sub-menu2.active .header__menu--sub3 {
    display: block;
  }
  .header__menu--sub2 > ul > li.has--sub-menu2.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.header__menu--sub2 > ul > li.has--sub-menu2::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color-black);
  top: 8px;
  right: 10px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.header__menu--sub2 > ul > li:hover > a::after {
  width: calc(100% + 4px);
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li:hover > a::after {
    width: 5px;
  }
}
.header__menu--sub2 > ul > li:hover .header__menu--sub3 {
  top: -21px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li:hover .header__menu--sub3 {
    top: auto;
  }
}
.header__menu--sub2 > ul > li:last-child {
  margin-bottom: 0;
}
.header__menu--sub2 > ul > li > a {
  font-size: 16px;
  color: var(--color-black);
  position: relative;
}
.header__menu--sub2 > ul > li > a::after {
  content: "";
  width: 0;
  height: 1px;
  background: var(--color-black);
  bottom: -5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}
@media (max-width: 1500px) {
  .header__menu--sub2 > ul > li > a {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub2 > ul > li > a {
    padding-left: 20px;
    display: block;
  }
  .header__menu--sub2 > ul > li > a::after {
    content: "";
    width: 5px;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 5px;
    background: var(--color-black);
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: auto;
  }
}
.header__menu--sub3 {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 198px;
  padding: 20px 15px;
  text-align: center;
  z-index: 2;
  background: var(--color-white);
  border: 1px solid #e5e5e5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1500px) {
  .header__menu--sub3 {
    width: 150px;
    padding: 20px 10px;
    left: 148px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub3 {
    position: relative;
    top: auto;
    left: auto;
    text-align: left;
    border: 0;
    padding: 10px 0 0;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}
.header__menu--sub3 ul li {
  position: relative;
  margin-bottom: 15px;
}
.header__menu--sub3 ul li:hover a::after {
  width: calc(100% + 4px);
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li:hover a::after {
    width: 3px;
  }
}
.header__menu--sub3 ul li:last-child {
  margin-bottom: 0;
}
.header__menu--sub3 ul li a {
  position: relative;
  font-size: 15px;
  color: var(--color-black);
}
@media (max-width: 1500px) {
  .header__menu--sub3 ul li a {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li a {
    padding-left: 35px;
  }
}
.header__menu--sub3 ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background: var(--color-black);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  bottom: -5px;
  -webkit-transform-origin: center;
          transform-origin: center;
}
@media (max-width: 991px) {
  .header__menu--sub3 ul li a::after {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 11px;
    left: 25px;
    background: var(--color-black);
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: auto;
  }
}
.header__search {
  width: 290px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .header__search {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .header__search {
    display: block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header__search {
    margin-top: 15px;
  }
}
.header__search--button {
  position: absolute;
  display: block;
  top: 8px;
  left: 13px;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  border-radius: 0;
  background: none;
}
@media (max-width: 480px) {
  .header__search--button {
    top: 4px;
    left: 5px;
  }
}
.header__search--input {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: 1px solid #C2CAD3;
  padding: 0 15px 0 45px;
  color: var(--color-black);
}
@media (max-width: 480px) {
  .header__search--input {
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 35px;
  }
}
.header__search--input::plceholder {
  color: #858D96;
}
.header__buttons {
  width: 155px;
  margin-left: 20px;
  position: relative;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .header__buttons {
    width: 125px;
  }
}
@media (max-width: 1200px) {
  .header__buttons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .header__buttons {
    width: auto;
  }
}
.header__buttons > a {
  margin-right: 30px;
}
@media (max-width: 1500px) {
  .header__buttons > a {
    margin-right: 15px;
  }
}
.header__buttons > a:last-child {
  margin-right: 0;
}

.footer {
  background: #181818;
  padding: 55px 0 35px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  .footer {
    margin-top: 60px;
  }
}
.footer.no_margin {
  margin-top: 0;
}
.footer__container {
  width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .footer__link {
    display: none;
  }
}
.footer__link--cont {
  margin-right: 200px;
}
@media (max-width: 991px) {
  .footer__link--cont {
    margin-right: 150px;
  }
}
.footer__link--cont:last-child {
  margin-right: 0;
}
.footer__link--cont > a {
  font-size: 16px;
  color: var(--color-white);
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}
.footer__link--cont ul li {
  margin-bottom: 15px;
}
.footer__link--cont ul li:last-child {
  margin-bottom: 0;
}
.footer__link--cont ul li a {
  font-size: 16px;
  color: var(--color-white);
  font-weight: 300;
}
.footer__select {
  width: 250px;
}
@media (max-width: 480px) {
  .footer__select {
    width: 200px;
  }
}
.footer__select select {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 15px 0 20px;
  background: #444444;
  border: #444444;
  color: var(--color-white);
}
@media (max-width: 480px) {
  .footer__select select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 15px;
    font-size: 12px;
  }
}
.footer__copyright {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #828282;
  color: var(--color-white);
}
@media (max-width: 480px) {
  .footer__copyright {
    font-size: 12px;
  }
}
.footer__etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.footer__etc li {
  position: relative;
  margin-right: 15px;
}
@media (max-width: 480px) {
  .footer__etc li {
    margin-right: 12px;
  }
}
.footer__etc li:last-child::after {
  display: none;
}
.footer__etc li::after {
  content: "";
  width: 1px;
  height: 20px;
  background: #cacaca;
  position: absolute;
  right: -8px;
  top: 3px;
}
@media (max-width: 480px) {
  .footer__etc li::after {
    height: 12px;
    right: -6px;
    top: 6px;
  }
}
.footer__etc li:last-child {
  margin-right: 0;
}
.footer__etc li a {
  color: #CACACA;
}
@media (max-width: 480px) {
  .footer__etc li a {
    font-size: 12px;
  }
}

ol.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ol.breadcrumb li {
  position: relative;
  margin-right: 35px;
}
ol.breadcrumb li::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -21px;
  width: 8px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/ico_PageDesign.png") no-repeat;
  background-position: -360px -120px;
}
ol.breadcrumb li:last-child {
  margin-right: 0;
}
ol.breadcrumb li:last-child::after {
  display: none;
}
ol.breadcrumb li a {
  font-size: 18px;
  color: #616060;
}
@media (max-width: 768px) {
  ol.breadcrumb li {
    margin-right: 25px;
  }
  ol.breadcrumb li::after {
    background: url("../img/ico_PageDesign_Mo.png") no-repeat;
    top: 8px;
    right: -16px;
    width: 7px;
    height: 11px;
    background-position: -288px -96px;
  }
  ol.breadcrumb li a {
    font-size: 16px;
  }
}

/*icon*/
[class^=ico_] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  background: url("../img/ico_PageDesign.png") no-repeat;
}
@media (max-width: 768px) {
  [class^=ico_] {
    background: url("../img/ico_PageDesign_Mo.png") no-repeat;
  }
}

.ico_starR {
  width: 14px;
  height: 14px;
  background-position: 0px -240px;
}
@media (max-width: 768px) {
  .ico_starR {
    width: 11px;
    height: 11px;
    background-position: 0 -192px;
  }
}

.ico_starG {
  width: 14px;
  height: 14px;
  background-position: -120px -240px;
}
@media (max-width: 768px) {
  .ico_starG {
    width: 11px;
    height: 11px;
    background-position: -96px -192px;
  }
}

.ico_best {
  width: 55px;
  height: 45px;
  z-index: 2;
  background-position: -480px -240px;
}
@media (max-width: 991px) {
  .ico_best {
    background: url("../img/ico_PageDesign_Mo.png") no-repeat;
    width: 44px;
    height: 34px;
    background-position: -384px -192px;
  }
}

.ico_skinCare {
  width: 30px;
  height: 30px;
  background-position: -240px -360px;
}
@media (max-width: 768px) {
  .ico_skinCare {
    width: 24px;
    height: 24px;
    background-position: -192px -288px;
  }
}

.ico_makeup {
  width: 30px;
  height: 30px;
  background-position: -360px -360px;
}
@media (max-width: 768px) {
  .ico_makeup {
    width: 24px;
    height: 24px;
    background-position: -288px -288px;
  }
}

.ico_nail {
  width: 30px;
  height: 30px;
  background-position: -480px -360px;
}
@media (max-width: 768px) {
  .ico_nail {
    width: 24px;
    height: 24px;
    background-position: -384px -288px;
  }
}

.ico_houseProduct {
  width: 30px;
  height: 30px;
  background-position: -600px -360px;
}
@media (max-width: 768px) {
  .ico_houseProduct {
    width: 24px;
    height: 24px;
    background-position: -480px -288px;
  }
}

.ico_smallTool {
  width: 30px;
  height: 30px;
  background-position: -720px -360px;
}
@media (max-width: 768px) {
  .ico_smallTool {
    width: 24px;
    height: 24px;
    background-position: -576px -288px;
  }
}

.ico_beautyFood {
  width: 30px;
  height: 30px;
  background-position: -840px -360px;
}
@media (max-width: 768px) {
  .ico_beautyFood {
    width: 24px;
    height: 24px;
    background-position: -672px -288px;
  }
}

.ico_cart {
  width: 21px;
  height: 18px;
  background-position: -7px -368px;
  z-index: 1;
}
@media (max-width: 768px) {
  .ico_cart {
    width: 17px;
    height: 14px;
    background-position: -6px -294px;
  }
}

.ico_like {
  width: 20px;
  height: 18px;
  background-position: -128px -369px;
  z-index: 1;
}
@media (max-width: 768px) {
  .ico_like {
    width: 16px;
    height: 14px;
    background-position: -101px -294px;
  }
}

.ico_link {
  width: 32px;
  height: 32px;
  background-position: -720px -120px;
}
@media (max-width: 768px) {
  .ico_link {
    width: 23px;
    height: 24px;
    background-position: -576px -96px;
  }
}

.ico_heartG {
  width: 31px;
  height: 28px;
  background-position: -360px -240px;
}
@media (max-width: 768px) {
  .ico_heartG {
    width: 19px;
    height: 17px;
    background-position: -288px -192px;
  }
}

.ico_share {
  width: 37px;
  height: 37px;
  background-position: -840px -120px;
}
@media (max-width: 768px) {
  .ico_share {
    width: 19px;
    height: 20px;
    background-position: -672px -96px;
  }
}

.ico_seller {
  width: 40px;
  height: 40px;
  background-position: 0px 0px;
}
@media (max-width: 768px) {
  .ico_seller {
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
  }
}

.ico_delivery {
  width: 40px;
  height: 40px;
  background-position: -120px 0px;
}
@media (max-width: 768px) {
  .ico_delivery {
    width: 32px;
    height: 32px;
    background-position: -96px 0px;
  }
}

.ico_checkout {
  width: 40px;
  height: 40px;
  background-position: -240px 0px;
}
@media (max-width: 768px) {
  .ico_checkout {
    width: 32px;
    height: 32px;
    background-position: -192px 0px;
  }
}

.ico_Bpoint {
  width: 40px;
  height: 40px;
  background-position: -360px 0px;
}
@media (max-width: 768px) {
  .ico_Bpoint {
    width: 32px;
    height: 32px;
    background-position: -288px 0px;
  }
}

.ico_gift {
  width: 40px;
  height: 40px;
  background-position: -480px 0px;
}
@media (max-width: 768px) {
  .ico_gift {
    width: 32px;
    height: 32px;
    background-position: -384px 0px;
  }
}

.ico_arrBottom {
  width: 20px;
  height: 10px;
  background-position: -240px -120px;
}
@media (max-width: 768px) {
  .ico_arrBottom {
    width: 20px;
    height: 10px;
    background-position: -192px -96px;
  }
}

.ico_increase {
  width: 20px;
  height: 20px;
  background-position: -480px -120px;
}
@media (max-width: 768px) {
  .ico_increase {
    width: 17px;
    height: 17px;
    background-position: -384px -96px;
  }
}

.ico_decrease {
  width: 20px;
  height: 20px;
  background-position: -600px -120px;
}
@media (max-width: 768px) {
  .ico_decrease {
    width: 17px;
    height: 17px;
    background-position: -480px -96px;
  }
}

.item-review {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-review i {
  margin-right: 4px;
}
.item-review i:last-child {
  margin-right: 0;
}

.ico_close {
  width: 20px;
  height: 20px;
  background-position: -480px -120px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 768px) {
  .ico_close {
    background-position: -384px -96px;
    display: block;
    position: relative;
    top: 4px;
    left: 0px;
  }
}

@media (max-width: 768px) {
  .ico_likeBtn {
    width: 20px;
    height: 20px;
    background-position: -767px -96px;
  }
}
.ico_noneCart {
  display: block;
  width: 76px;
  height: 64px;
  background-position: -1077px -120px;
}
@media (max-width: 768px) {
  .ico_noneCart {
    display: block;
    width: 45px;
    height: 37px;
    background-position: -862px -96px;
  }
}

.items .items__image {
  position: relative;
}
.items .items__image:hover .items__btns {
  opacity: 1;
  visibility: visible;
}
.items .items__image:hover > a::before {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 768px) {
  .items .items__image:hover > a::before {
    display: none;
  }
}
.items .items__image:hover > a img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.items .items__image > a {
  display: block;
  overflow: hidden;
  border-radius: 35px 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 768px) {
  .items .items__image > a {
    border-radius: 25px 0;
  }
}
.items .items__image > a::before {
  content: "";
  position: absolute;
  border-radius: 35px 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  .items .items__image > a::before {
    border-radius: 25px 0;
    display: none;
  }
}
.items .items__image > a img {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.items .items__btns {
  position: absolute;
  right: -18px;
  top: 5px;
  z-index: 3;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1650px) {
  .items .items__btns {
    top: auto;
    right: 5px;
    bottom: 5px;
  }
}
.items .items__btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: var(--color-coral);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(1, 1, 1, 0.2);
          box-shadow: 2px 2px 5px 1px rgba(1, 1, 1, 0.2);
  margin-bottom: 10px;
}
.items .items__btns a:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .items .items__btns a {
    width: 32px;
    height: 32px;
    margin-bottom: 7px;
  }
}
.items .items__ranking {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.items .items__ranking .ico_best {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: -5px;
}
@media (max-width: 991px) {
  .items .items__ranking .ico_best {
    top: -25px;
    left: 1px;
  }
}
@media (max-width: 768px) {
  .items .items__ranking .ico_best {
    left: -4px;
  }
}
.items .items__ranking .ranking {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.items .items__ranking .ranking i {
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  position: relative;
  top: -1px;
  left: -2px;
}
@media (max-width: 768px) {
  .items .items__ranking .ranking {
    width: 35px;
    height: 35px;
  }
  .items .items__ranking .ranking i {
    font-size: 16px;
  }
}
.items .items__link {
  display: block;
  padding: 10px 12px 0;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .items .items__link {
    padding: 8px 10px 0;
    margin-bottom: 5px;
  }
}
.items .items__link .items__brand {
  font-size: 16px;
  color: var(--color-black);
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .items .items__link .items__brand {
    font-size: 10px;
  }
}
.items .items__link .items__title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .items .items__link .items__title {
    font-size: 14px;
  }
}
.items .items__link .items__price {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items .items__link .items__price .items__price--sale {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-coral);
  margin-right: 25px;
}
@media (max-width: 768px) {
  .items .items__link .items__price .items__price--sale {
    margin-right: 10px;
    font-size: 12px;
  }
}
.items .items__link .items__price .items__price--price {
  font-size: 23px;
}
@media (max-width: 768px) {
  .items .items__link .items__price .items__price--price {
    font-size: 14px;
  }
}
.items .items__link .items__price .items__price--regular {
  font-size: 16px;
  text-decoration: line-through;
  margin-left: 10px;
  color: #999;
}
@media (max-width: 768px) {
  .items .items__link .items__price .items__price--regular {
    font-size: 12px;
  }
}
.items .items__review-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items .items__review-count .items__review {
  position: relative;
  margin-right: 15px;
}
.items .items__review-count .items__review::after {
  content: "";
  width: 1px;
  height: 15px;
  background: var(--color-black);
  position: absolute;
  top: 6px;
  right: -10px;
}
@media (max-width: 768px) {
  .items .items__review-count .items__review::after {
    height: 12px;
    top: 6px;
    right: -7px;
  }
}
.items .items__review-count .items__count {
  font-size: 14px;
}
@media (max-width: 768px) {
  .items .items__review-count .items__count {
    font-size: 10px;
    position: relative;
    top: 2px;
  }
}
.items .items__labels {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 8px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items .items__labels .items__label {
  padding: 3px 10px;
  background: var(--color-black);
  border: 1px solid var(--color-black);
  color: var(--color-white);
  font-size: 10px;
  font-weight: bold;
  margin-right: 5px;
}
.items .items__labels .items__label:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .items .items__labels .items__label {
    padding: 2px 5px;
    position: relative;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: 0px;
  }
}
.items .items__labels .items__label.yellow {
  background: #B5CC18;
  border-color: #515050;
  color: #323333;
}
.items .items__labels .items__label.green {
  background: #21BA45;
  border-color: var(--color-white);
}

.subItems-wrap .items .items__link .items__brand {
  font-size: 14px;
}
.subItems-wrap .items .items__link .items__title {
  font-size: 17px;
}
.subItems-wrap .items .items__price .items__price--sale {
  margin-right: 15px;
}
.subItems-wrap .items .items__price .items__price--price {
  font-size: 20px;
}
.subItems-wrap .items .items__price .items__price--regular {
  font-size: 14px;
  margin-left: 15px;
}
.subItems-wrap .items .items__review-count .items__count {
  font-size: 13px;
}
@media (max-width: 768px) {
  .subItems-wrap .items .items__link .items__brand {
    font-size: 10px;
  }
  .subItems-wrap .items .items__link .items__title {
    font-size: 14px;
  }
  .subItems-wrap .items .items__price .items__price--sale {
    font-size: 12px;
    margin-right: 10px;
  }
  .subItems-wrap .items .items__price .items__price--price {
    font-size: 14px;
  }
  .subItems-wrap .items .items__price .items__price--regular {
    font-size: 12px;
  }
  .subItems-wrap .items .items__review-count .items__count {
    font-size: 10px;
  }
}
.subItems-wrap.row5 .items .items__link .items__brand, .subItems-wrap.row4 .items .items__link .items__brand {
  font-size: 12px;
}
.subItems-wrap.row5 .items .items__link .items__title, .subItems-wrap.row4 .items .items__link .items__title {
  font-size: 14px;
}
.subItems-wrap.row5 .items .items__price .items__price--sale, .subItems-wrap.row4 .items .items__price .items__price--sale {
  font-size: 16px;
}
.subItems-wrap.row5 .items .items__price .items__price--price, .subItems-wrap.row4 .items .items__price .items__price--price {
  font-size: 16px;
}
.subItems-wrap.row5 .items .items__price .items__price--regular, .subItems-wrap.row4 .items .items__price .items__price--regular {
  font-size: 14px;
}
.subItems-wrap.row5 .items .items__review-count .items__count, .subItems-wrap.row4 .items .items__review-count .items__count {
  font-size: 13px;
}
@media (max-width: 768px) {
  .subItems-wrap.row5 .items .items__link .items__brand, .subItems-wrap.row4 .items .items__link .items__brand {
    font-size: 10px;
  }
  .subItems-wrap.row5 .items .items__link .items__title, .subItems-wrap.row4 .items .items__link .items__title {
    font-size: 14px;
  }
  .subItems-wrap.row5 .items .items__price .items__price--sale, .subItems-wrap.row4 .items .items__price .items__price--sale {
    font-size: 12px;
    margin-right: 10px;
  }
  .subItems-wrap.row5 .items .items__price .items__price--price, .subItems-wrap.row4 .items .items__price .items__price--price {
    font-size: 14px;
  }
  .subItems-wrap.row5 .items .items__price .items__price--regular, .subItems-wrap.row4 .items .items__price .items__price--regular {
    font-size: 12px;
  }
  .subItems-wrap.row5 .items .items__review-count .items__count, .subItems-wrap.row4 .items .items__review-count .items__count {
    font-size: 10px;
  }
}

/*plp product list*/
.product .product__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -40px;
}
@media (max-width: 768px) {
  .product .product__item {
    margin-bottom: -30px;
  }
}
.product .product__item .items {
  width: calc(25% - 37.5px);
  margin-right: 50px;
  margin-bottom: 40px;
}
.product .product__item .items:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 1230px) {
  .product .product__item .items {
    width: calc(33.3333% - 20px);
    margin-right: 30px;
  }
  .product .product__item .items:nth-child(4n) {
    margin-right: 30px;
  }
  .product .product__item .items:nth-child(3n) {
    margin-right: 0;
  }
  .product .product__item .items:nth-child(4) .items__ranking {
    display: none;
  }
}
@media (max-width: 768px) {
  .product .product__item .items {
    width: calc(50% - 7.5px);
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .product .product__item .items:nth-child(3n) {
    margin-right: 15px;
  }
  .product .product__item .items:nth-child(2n) {
    margin-right: 0;
  }
  .product .product__item .items:nth-child(3) .items__ranking {
    display: none;
  }
}

/*pdp*/
.row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row5 .swiper-slide {
  width: calc(20% - 32px);
  margin-right: 40px;
}
@media (max-width: 768px) {
  .row5 .swiper-slide {
    width: calc(50% - 7.5px);
    margin-right: 15px;
  }
}
.row5 .swiper-slide:last-child {
  margin-right: 0;
}

.row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row4 .swiper-slide {
  width: calc(25% - 21px);
  margin-right: 28px;
}
@media (max-width: 768px) {
  .row4 .swiper-slide {
    width: calc(50% - 7.5px);
    margin-right: 15px;
  }
}
.row4 .swiper-slide:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .mobile_body .horizontal-scroll {
    width: calc(100% + 15px);
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .mobile_body .horizontal-scroll .items-wrap {
    overflow-x: auto !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mobile_body .horizontal-scroll .items-wrap::-webkit-scrollbar {
    display: none;
  }
}

.plp .top-banner {
  position: relative;
  overflow: hidden;
}
.plp .top-banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plp .top-banner__img img {
  max-width: inherit;
  height: 400px;
}
@media (max-width: 768px) {
  .plp .top-banner__img {
    height: 300px;
  }
  .plp .top-banner__img img {
    height: 100%;
  }
}
@media (max-width: 480px) {
  .plp .top-banner__img {
    height: 200px;
  }
  .plp .top-banner__img img {
    height: 100%;
  }
}
.plp .top-banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.plp .top-banner__text span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  color: var(--color-white);
  font-size: 70px;
  font-weight: 300;
  font-style: italic;
}
.plp .top-banner__text span::before, .plp .top-banner__text span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-white);
  position: absolute;
  left: 20px;
  top: 5px;
}
.plp .top-banner__text span::after {
  top: auto;
  bottom: 0;
  left: -10px;
}
@media (max-width: 768px) {
  .plp .top-banner__text span {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .plp .top-banner__text span {
    font-size: 40px;
  }
  .plp .top-banner__text span::before, .plp .top-banner__text span::after {
    height: 1px;
  }
}
.plp .plp-menu {
  margin-bottom: 30px;
}
.plp .plp-menu__main {
  border: 1px solid var(--border-color);
  border-left: 0;
  border-right: 0;
}
@media (max-width: 1230px) {
  .plp .plp-menu .container {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .plp .plp-menu {
    margin-bottom: 20px;
  }
}
.plp .plp-menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plp .plp-menu .main-menu li {
  border-right: 1px solid var(--border-color);
}
.plp .plp-menu .main-menu li:first-child {
  border-left: 1px solid var(--border-color);
}
.plp .plp-menu .main-menu li.active a {
  background: #F3F5F6;
  font-weight: 400;
}
.plp .plp-menu .main-menu li a {
  display: block;
  text-align: center;
  min-width: 250px;
  padding: 0 10px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 1230px) {
  .plp .plp-menu .main-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
  }
  .plp .plp-menu .main-menu li {
    border-bottom: 1px solid var(--border-color);
    width: 33.3333%;
  }
  .plp .plp-menu .main-menu li:first-child {
    border-left: 0;
  }
  .plp .plp-menu .main-menu li a {
    width: 100%;
    min-width: auto;
  }
}
@media (max-width: 768px) {
  .plp .plp-menu .main-menu li a {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }
}
.plp .plp-menu__sub {
  background: #616060;
  padding: 25px 0;
}
.plp .plp-menu__sub .container {
  overflow: visible !important;
}
@media (max-width: 1230px) {
  .plp .plp-menu__sub {
    overflow: hidden;
    padding: 25px 15px;
  }
}
@media (max-width: 768px) {
  .plp .plp-menu__sub {
    padding: 20px 15px;
  }
}
@media (max-width: 480px) {
  .plp .plp-menu__sub {
    padding: 15px 15px;
  }
}
.plp .plp-menu .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plp .plp-menu .sub-menu.no_sly {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.plp .plp-menu .sub-menu li {
  margin-right: 25px;
}
user-select:none .plp .plp-menu .sub-menu li:last-child {
  margin-right: 0;
}
.plp .plp-menu .sub-menu li.all a {
  background: #292D30;
  color: #fff;
}
.plp .plp-menu .sub-menu li a {
  font-size: 20px;
  font-weight: 300;
  color: #9FA3AA;
  min-width: 130px;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  display: block;
  background: var(--color-Lgrey);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plp .plp-menu .sub-menu li a i {
  margin-right: 10px;
}
.plp .plp-menu .sub-menu li a .text {
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .plp .plp-menu .sub-menu li {
    margin-right: 15px;
  }
  .plp .plp-menu .sub-menu li a {
    font-size: 16px;
    min-width: 100px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
  .plp .plp-menu .sub-menu li a i {
    margin-right: 5px;
  }
  .plp .plp-menu .sub-menu li a .text {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .plp .plp-menu .sub-menu li {
    margin-right: 10px;
  }
  .plp .plp-menu .sub-menu li a {
    font-size: 14px;
  }
  .plp .plp-menu .sub-menu li a .text {
    font-size: 14px;
  }
}
.plp .item-breadcrumb {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .plp .item-breadcrumb {
    margin-bottom: 50px;
  }
}