@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/swiper';

@import 'base/reset';
@import 'base/fonts';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'components/breadcrumb';
@import 'components/icon';
@import 'components/items';
@import 'components/buttons';

@import 'pages/pdp';