/*responsive mixin*/
@mixin mediaQuery($width){
    @media (max-width: $width){ 
        @content;
    }
}
@mixin transition($second){
    transition: all $second ease-in-out;
}

/*common mixin*/
@mixin translate{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@mixin opacityHidden{
    opacity:0;
    visibility:hidden;
}

@mixin opacityVisible{
    opacity:1;
    visibility:visible
}

@mixin translateX{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

@mixin translateY{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

@mixin buttonReset{
    outline:none;
    box-shadow:none;
    border-radius:0;
}

@mixin flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
}
@mixin boxShadow{
    box-shadow:0px 3px 6px rgba(0,0,0,0.08);
}

@mixin buttonReset{
    outline:none;
    box-shadow:none;
    border:0;
    padding:0;
    border-radius:0;
    background:none;
}
@mixin inputReset{
    outline:none;
    box-shadow:none;
    border-radius:0;
}
@mixin border($color){
    border: 1px solid $color;
}