/*responsive mixin*/
@mixin mediaQuery($width){
    @media (max-width: $width){ 
        @content;
    }
}
@mixin transition($second){
    transition: all $second ease-in-out;
}

/*common mixin*/
@mixin translate{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@mixin opacityHidden{
    opacity:0;
    visibility:hidden;
}

@mixin opacityVisible{
    opacity:1;
    visibility:visible
}

@mixin translateX{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

@mixin translateY{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

@mixin buttonReset{
    outline:none;
    box-shadow:none;
    border-radius:0;
}

@mixin flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
}
@mixin boxShadow{
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
}

@mixin buttonReset{
    outline:none;
    box-shadow:none;
    border:0;
    padding:0;
    border-radius:0;
    background:none;
}
@mixin inputReset{
    outline:none;
    box-shadow:none;
    border-radius:0;
}
@mixin border($color){
    border: 1px solid $color;
}
@mixin commonPadding{
    padding: 150px 0;
    @include mediaQuery(768px){
        padding: 100px 0;
    }
    @include mediaQuery(480px){
        padding:70px 0;
    }
}
@mixin commonMarginBottom{
    margin-bottom: 150px;
    @include mediaQuery(768px){
        margin-bottom: 100px;
    }
    @include mediaQuery(480px){
        margin-bottom:70px;
    }
}
@mixin subCommonPadding{
    padding:150px 0 0;
    @include mediaQuery(991px){
        padding:100px 0 0;
    }
    @include mediaQuery(768px){
        padding:60px 0 0;
    }
    @include mediaQuery(480px){
        padding:30px 0 0;
    }
}
@mixin visualHidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    margin: -1px;
}

@mixin letter($px){
    letter-spacing:$px;
}

@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}