/*color*/
:root{
    --color-black:#000000;
    --color-LBlack:#292D30;
    --color-white:#ffffff;
    --color-grey:#e5e5e5;
    --color-Lgrey:#f6f6f6;
    --color-Dgrey:#616060;
    --color-coral:#ff7777;
    --color-Lblue:#C2CAD3;
    --color-Dblue:#858D96;

    
    
    --border-grey:#EAEAEB;
    --border-Lgrey: #EBEBEB;
    --border-blue:#E6E6E7;
    --border-color:#C2CAD3;
}