.cart-product{
    &__totalCheck{
        display:flex;
        align-items:center;
        justify-content:space-between;

        margin-bottom:15px;
        input + label .custom-checkbox__square{
            top:2px;
        }
        input + label .custom-checkbox__text{
            font-weight:bold;
        }
        @include mediaQuery(768px){
            margin-bottom:15px;
        }
    }
    &__list{
        margin-bottom:0;
    }
    &__option{
        &-li{
            padding:9px 10px;
            @include mediaQuery(991px){
                flex-wrap:wrap;
            }
            &.active{
                .cart-product__option-select{
                    select{
                        background: url("../img/Ic_caret-down.png") no-repeat right 6px center/12px;
                        background-color:var(--color-white);
                        @include mediaQuery(768px){
                            padding-left:10px;
                        }
                    }
                }
                .cart-product__option-change{
                    button{
                        background:var(--color-coral);
                    }
                }
            }
        }

        &-top{
            display:flex;
            align-items:center;
            justify-content:center;
            width:calc(60% - 7.5px);
            @include mediaQuery(991px){
                width:calc(100%);
                justify-content:space-between;
                margin-bottom:15px;
            }
            @include mediaQuery(768px){
                margin-bottom:10px;
            }
        }
        &-bot{
            display:flex;
            align-items:center;
            justify-content:flex-end;
            width:calc(40% - 7.5px);
            margin-left:15px;
            @include mediaQuery(991px){
                width:100%;
                justify-content:space-between;
                margin-left:0;
            }

            .cart-product__option-right{
                margin-left:15px;
            }
        }
        &-right{
            display:inline-flex;
            align-items:center;
            justify-content:center;
        }
        
        &-select{
            width:calc(100% - 95px);
            select{
                width:100%;
                border:0;
                background:none;
                @include ellipsis($line:1);
                @include mediaQuery(991px){
                    padding-left:0;
                }
            }
        }
        
        &-change{
            margin-left:15px;

            &.cart-product__option-right{
                width:80px;
            }
        }

        &-value{
            width:93px;
            display:flex;
            align-items:center;
            justify-content:center;
            @include mediaQuery(768px){
                width:auto;
            }
            input{
                background:var(--color-white);
            }
            button{
                width:31px;
                height:31px;
                border:1px solid #858D96;
                background:var(--color-white);
                @include mediaQuery(768px){
                    width:22px;
                    height:22px;
                }
                &:first-child{
                    border-right:0;
                }
                &:last-child{
                    border-left:0;
                }
                i{
                    background:url("../img/ico_PageDesign_Mo.png") no-repeat;
                    &.ico_decrease {
                        width: 17px;
                        height: 17px;
                        background-position: -480px -96px;
                    }
                    &.ico_increase {
                        width: 17px;
                        height: 17px;
                        background-position: -384px -96px;
                    }
                    @include mediaQuery(768px){
                        transform:scale(0.8);
                    }
                }
            }
        }
        .common-product__option-price{
            width:calc(100% - 46px);
            @include mediaQuery(768px){
                width:calc(100% - 32px);
            }
        }
        .common-product__option-delete{
            margin-left:15px;
            button{
                width:31px;
                height:31px;
                border:1px solid #858D96;
                display:inline-flex;
                align-items:center;
                justify-content:center;
                background:var(--color-white);
                @include mediaQuery(768px){
                    width:22px;
                    height:22px;
                }
            }
            @include mediaQuery(768px){
                margin-left:10px;
            }
        }
    }
    .common-product__info{
        position:relative;
        padding-right:170px;
        @include mediaQuery(768px){
            padding-right:0;
        }
        .cart-product__btn{
            position:absolute;
            top:0;
            right:0;
            display:flex;
            align-items:center;
            justify-content:flex-end;
            button.likeBtn{
                margin-right:10px;
            }
            i{
                display:none;
            }
            @include mediaQuery(768px){
                top:-10px;
                right:-10px;
                button{
                    padding:0;
                    background:none;
                    &:not(.likeBtn){
                        border:1px solid var(--color-Dblue);
                        height:auto;
                        i{
                            left:0;
                        }
                    }
                }
                button.likeBtn{
                    margin-right:5px;
                }
                
                .mobile_none{
                    display:none;
                }
                i{
                    display:block;
                }
            }
        }
    }
    &__total{
        float:right;
        width:calc(100% - 220px);
        margin-top:30px;
        display:flex;
        align-items:flex-end;
        justify-content:flex-end;
        @include mediaQuery(768px){
            width:100%;
            float:none;
            margin-top:20px;
        }
    }

    &__optionLenth{
        font-size:16px;
        position:relative;
        top:-4px;
        @include mediaQuery(768px){
            font-size:12px;
        }
    }
    &__totalPrice{
        font-size:28px;
        font-weight:bold;
        color:var(--color-Dgrey);
        margin:0 30px 0 20px;
        @include mediaQuery(768px){
            font-size:22px;
            margin:0 10px 0 10px;
        }
    }
}
.common-noList{
    display:none;
}

.no_list{
    .cart-product{
        display:none;
    }

    .common-noList{
        margin-top:56px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height:355px;
        background:var(--color-Lgrey);
        border:1px solid var(--border-color);
        @include boxShadow;
        @include mediaQuery(768px){
            min-height:200px;
            margin-top:0;
        }
        .common-noList__cell{
            text-align:center;
            margin:0 auto;

            i{
                margin:0 auto;
            }

            p{
                font-size:24px;
                font-weight:bold;
                color:var(--color-Dblue);
                margin-top:20px;
                @include mediaQuery(768px){
                    margin-top:15px;
                    font-size:16px;
                }
            }
        }
    }
    .common-price__cost{
        button:disabled{
            background:var(--color-Lgrey);
            color: var(--color-Dgrey);
            cursor:not-allowed;
        }
    }
}