@charset "UTF-8";
/* main-banner */
.slider__banner{
    position:relative;
    @include commonPadding;
    @include opacityHidden;
    @include transition(800ms);
    transform:translate(0, 100px);
    &.ani{
        @include opacityVisible;
        transform: translate(0, 0);
    }

    &::before{
        content:"";
        width:100%;
        height:450px;
        background:var(--color-Lgrey);
        position:absolute;
        top:0;
        left:0;
        @include mediaQuery(991px){
            height:50vw;
        }
        @include mediaQuery(480px){
            height:250px;
        }
    }

    .swiper-container{
        overflow:hidden;
    }

    .swiper-slide{
        position:relative;
        overflow:hidden;
        border-radius:80px 0 80px 0;
        @include boxShadow;
        @include mediaQuery(768px){
            border-radius:60px 0 60px 0;
        }       
    }

    &--img{
        display:block;
        width:100%;
        padding-bottom:117%;
        position:relative;

        img{
            @include translate;
            max-width:inherit;
            height:100%;
        }
        
    }
    &--text{
        position:absolute;
        z-index:1;
        right:40px;
        text-align:right;
        bottom:0;
        color:var(--color-white);
        width:60%;
        height:40%;
        @include mediaQuery(768px){
            right:15px;
            width:80%;
            height:auto;
            bottom:40px;
            padding:0 15px;
        }
        &-subject{
            font-size:38px;
            font-weight:bold;
            word-break: keep-all;
            @include mediaQuery(1500px){
                font-size:24px;
            }
            @include mediaQuery(768px){
                font-size:22px;
            }
            @include mediaQuery(480px){
                font-size:20px;
            }
        }
        &-desc{
            font-size:16px;
            font-style: italic;
            margin-top:20px;
            @include mediaQuery(768px){
                font-size:14px;
                margin-top:15px;
            }
            @include mediaQuery(480px){
                font-size:14px;
                margin-top:10px;
            }
        }
    }
}
/*keyword ranking*/
.keyword{
    @include commonMarginBottom;
    .wide-container{
        display:flex;
    }

    .keyword__ranking{
        width:510px;
        margin-right:75px;
        @include mediaQuery(1500px){
            margin-right:30px;
        }
        @include mediaQuery(1200px){
            margin-right:50px;
            width:calc(50% - 25px);
        }
        @include mediaQuery(768px){
            width:100%;
            margin-right:0;
        }
        &--subject{
            font-weight:300;
            font-style:italic;
            font-size:60px;
            white-space:nowrap;
            margin-bottom:50px;
            @include letter(4px);
            @include mediaQuery(991px){
                font-size:40px;
            }
            @include mediaQuery(480px){
                font-size:30px;
                margin-bottom:30px;
            }
        }

        &--link{
            display:flex;
            align-items:center;
            padding:15px 25px;
            border-radius:30px 0 30px 0;
            margin-bottom:20px;
            @include boxShadow;
            &:last-child{
                margin-bottom:0;
            }
            @include mediaQuery(991px){
                padding:10px 20px;
            }
            @include mediaQuery(480px){
                padding:10px 15px;
                border-radius:20px 0 20px 0;
                margin-bottom:15px;
            }
        }

        &--number{
            display:inline-flex;
            align-items:center;
            justify-content:center;
            position:relative;
            width:50px;
            height:50px;
            border-radius:50%;
            margin-right:45px;
            background:var(--color-Lgrey);
            @include boxShadow;
            @include mediaQuery(991px){
                width:40px;
                height:40px;
                margin-right:30px;
            }
            @include mediaQuery(480px){
                width:35px;
                height:35px;
                margin-right:15px;
            }

            .num{
                font-size:30px;
                font-weight:bold;
                @include mediaQuery(991px){
                    font-size:20px;
                }
                @include mediaQuery(480px){
                    font-size:16px;
                }
            }

            .best{
                position:absolute;
                top:-34px;
                @include mediaQuery(991px){
                    top:-24px;
                }
                @include mediaQuery(480px){
                    top:-26px;
                }
            }
        }
        &--item{
            width:calc(100% - 119px);
            display:inline-flex;
            align-items:center;
            @include mediaQuery(991px){
                width:calc(100% - 88px);
            }
            @include mediaQuery(480px){
                width:calc(100% - 64px);
            }
        }
        &--img{
            width:70px;
            margin-right:20px;
            @include mediaQuery(480px){
                width:60px;
                margin-right:15px;
            }
        }
        &--info{
            width:calc(100% - 90px);
            @include mediaQuery(480px){
                width:calc(100% - 75px);
            }
            
            h5{
                font-size:24px;
                font-weight:500;
                color:var(--color-black);
                margin-bottom:5px;
                @include letter(2.4px);
                @include mediaQuery(991px){
                    font-size:18px;
                }
                @include mediaQuery(480px){
                    font-size:14px;
                }
            }
        }
        &--plus{
            width:24px;
            position:relative;
            @include mediaQuery(991px){
                width:18px;
            }
            @include mediaQuery(480px){
                width:14px;
            }
            span{
                width:24px;
                height:4px;
                background: #C3C5C9;
                position:absolute;
                &:nth-child(2){
                    transform:rotate(90deg);
                }

                @include mediaQuery(991px){
                    width:18px;
                    height:3px;
                }
                @include mediaQuery(480px){
                    width:14px;
                    height:2px;
                }
            }
        }
    }
    .keyword__banner{
        width:calc(100% - 585px);
        display:flex;
        @include mediaQuery(1500px){
            width:calc(100% - 540px);
        }
        @include mediaQuery(1200px){
            width:calc(50% - 25px);
        }
        @include mediaQuery(768px){
            display:none;
        }
        &--img01{
            position:relative;
            width:calc(50% - 30px);
            margin-right:60px;
            padding-bottom:65%;
            overflow:hidden;
            border-radius:80px 0 80px 0;
            @include boxShadow;
            @include mediaQuery(1500px){
                width:calc(50% - 15px);
                margin-right:30px;
            }
            @include mediaQuery(1200px){
                width: 100%;
                margin-right:0;
            }

            img{
                @include translate;
                max-width:inherit;
                height:100%;
            }
        }
        &--img02{
            width:calc(50% - 30px);
            @include mediaQuery(1500px){
                width:calc(50% - 15px);
            }
            @include mediaQuery(1200px){
                display:none;
            }
            img{
                border-radius:80px 0 80px 0;
                @include boxShadow;
            }
            .main__common--text{
                margin-top:80px;
            }
        }
    }
}
.main__common--text{
    text-align:right;
    p{
        font-size:40px;
        font-weight:500;
        @include letter(4.8px);
        @include mediaQuery(1800px){
            font-size:30px;
            @include letter(3px);
        }
        @include mediaQuery(480px){
            font-size:20px;
        }
    }
    h5{
        font-size:60px;
        font-weight:300;
        font-style:italic;
        @include letter(6px);
        @include mediaQuery(1800px){
            font-size:40px;
            @include letter(4.5px);
        }
        @include mediaQuery(480px){
            font-size:28px;
        }
    }
    span{
        display:block;
        margin-top:20px;
        font-weight:300;
        font-size:30px;
        @include letter(3.6px);
        @include mediaQuery(1800px){
            font-size:24px;
            @include letter(2.4px);
        }
    }
}

/*keyword img__banner*/
.img__banner{
    @include commonMarginBottom;
    .wide-container{
        display:flex;

        @include mediaQuery(1200px){
            flex-wrap:wrap;
        }
    }
    &--text{
        width:calc(33% - 35px);
        margin-right:70px;
        @include mediaQuery(1800px){
            width:calc(33% - 15px);
            margin-right:30px;
        }
        @include mediaQuery(1200px){
            width:100%;
            margin-right:0;
            margin-bottom:50px;
        }
        @include mediaQuery(480px){
            margin-bottom:30px;
        }

        .main__common--text{
            margin-bottom:40px;
            @include mediaQuery(480px){
                margin-bottom:20px;
            }
        }
    }
    &--img{
        border-radius:80px 0 80px 0;
        overflow:hidden;
        @include boxShadow;
        @include mediaQuery(480px){
            border-radius:60px 0 60px 0;
        }
        
        img{
            width:100%;
        }

    }
    &--slider{
        width:calc(67% - 35px);
        @include mediaQuery(1800px){
            width:calc(67% - 15px);
        }
        @include mediaQuery(1200px){
            width:100%;
        }
        
        .img__banner--img{
            position:relative;
            padding-bottom:52.5%;

            img{
                @include translate;
            }
        }
    }
}

/*multi__slider*/
.multi__slider{
    @include commonMarginBottom;
    overflow:hidden;

    .tab-menu{
        margin-bottom:40px;
        display:flex;
        justify-content:center;
        @include mediaQuery(768px){
            margin-bottom:20px;
        }
        li{
            margin-right:75px;
            @include mediaQuery(1200px){
                margin-right:40px;
            }
            @include mediaQuery(768px){
                margin-right:30px;
            }
            &.active a{
                font-weight:500;
                &::before{                
                    content:"";
                    width:calc(100% - 5px);
                    height:4px;
                    background: var(--color-black);
                    position:absolute;
                    top:0;
                    left:10px;

                    @include mediaQuery(768px){
                        height:2px;
                        width:100%;
                        left:3px;
                    }
                }
            }
            &:last-child{
                margin-right:0;
            }

            a{
                font-size:60px;
                font-weight:300;
                font-style:italic;
                position:relative;
                @include mediaQuery(1200px){
                    font-size:40px;
                }
                @include mediaQuery(768px){
                    font-size:20px;
                }
            }
        }
    }

    .tab-content{
        display:none;
        &:first-child{
            display:block;
        }
        &--menu{
            display:flex;
            align-items:center;
            justify-content:center;
            margin-bottom:65px;
            @include mediaQuery(768px){
                margin-bottom:30px;
            }

            li{
                margin-right:90px;
                @include mediaQuery(1200px){
                    margin-right:50px;
                }
                @include mediaQuery(768px){
                    margin-right:30px;
                }
                @include mediaQuery(480px){
                    margin-right:15px;
                }
                &:last-child{
                    margin-right:0;
                }
                &.active a{
                    font-weight:500;
                }
                a{
                    font-size:30px;
                    color:var(--color-black);
                    font-weight:300;

                    @include mediaQuery(1200px){
                        font-size:20px;
                    }
                    @include mediaQuery(768px){
                        font-size:12px;
                        white-space:nowrap;
                    }
                }
            }
        }
        &--slider .swiper-container{
            display:none;
            overflow:visible;
            &::before,
            &::after{
                content:"";
                width:100px;
                height:100%;
                position:absolute;
                top:0;
                left:-120px;
                background:var(--color-white);
                z-index:2;
            }
            &::after{
                left:auto;
                right:-120px;
            }
            
            &:first-child{
                display:block;
            }
        }
    }
}

/*two__slider*/
.two__slider{
    @include commonMarginBottom;

    h2{
        font-size:60px;
        font-weight:300;
        font-style: italic;
        text-align:center;
        margin-bottom:100px;
        @include mediaQuery(1800px){
            font-size:40px;
        }
        @include mediaQuery(768px){
            margin-bottom:40px;
        }
        @include mediaQuery(480px){
            font-size:28px;
        }
    }
    &--wrap{
        display:flex;
        align-items:center;
        @include mediaQuery(1200px){
            flex-wrap:wrap;
        }

        .large__slider{
            width:calc(48% - 25px);
            margin-right:50px;

            @include mediaQuery(1200px){
                width:100%;
                margin-right:0;
                margin-bottom:50px;
            }
            @include mediaQuery(768px){
                margin-bottom:40px;
            }

            .common__slider--img{
                @include mediaQuery(1200px){
                    height:auto;
                    padding-bottom:100%;
                }
                img{
                    width:100%;
                    height:auto;

                    @include mediaQuery(1200px){
                        width:150%;
                        height:auto;
                    }
                }
            }
        }
        .small__slider{
            width:calc(52% - 25px);
            @include mediaQuery(1200px){
                width:100%;
            }
        }
    }
    .common__slider--img{
        position:relative;
        overflow:hidden;
        border-radius:80px 0 80px 0;
        height:54vh;
        @include boxShadow;
        @include mediaQuery(768px){
            border-radius:60px 0 60px 0;
            height:40vh;
        }
        img{
            @include translate;
            max-width:inherit;
            height:100%;
        }
    }
}
/*gift slider*/
.gift__slider{
    overflow:hidden;
    @include commonPadding;
    padding-bottom:0;
    @include mediaQuery(768px){
        padding-bottom:0;
    }
    @include mediaQuery(480px){
        padding-bottom:0;
    }
    position:relative;
    &::before{
        content:"";
        width:100%;
        height:450px;
        background:var(--color-Lgrey);
        position:absolute;
        top:0;
        left:0;
        @include mediaQuery(991px){
            height:50vw;
        }
        @include mediaQuery(480px){
            height:250px;
        }
    }
    h2{
        font-size:60px;
        font-weight:300;
        font-style: italic;
        text-align:center;
        margin-bottom:70px;
        @include mediaQuery(1800px){
            font-size:40px;
        }
        @include mediaQuery(768px){
            margin-bottom:40px;
        }
        @include mediaQuery(480px){
            font-size:28px;
        }
    }

    .swiper-container{
        overflow:visible;
        &::before,
        &::after{
            content:"";
            width:100px;
            height:calc(100% + 50px);
            position:absolute;
            top:-50px;
            left:-120px;
            background:linear-gradient(180deg, #f6f6f6 41.5%, #fff 41.5%);
            z-index:2;
        }
        &::after{
            left:auto;
            right:-120px;
        }
        
        &:first-child{
            display:block;
        }
    }
}