.lost{
    &.find{
        .lost__tab--ul{
            margin-bottom:0;
        }
        .lost__tab--content{
            .find_info{
                text-align:center;
                h5{
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    height:150px;
                    font-size:18px;
                    b{
                        margin:0 5px;
                        font-weight:bold;
                        color: var(--color-coral);
                    }
                }
                @include mediaQuery(768px){
                    h5{
                        font-size:14px;
                        height:100px;
                    }
                }
            }
        }
    }
    &__tab{
        &--ul{
            display:flex;
            align-items:center;
            margin-bottom:25px;
            @include mediaQuery(768px){
                margin-bottom:20px;
            }
            li{
                width:50%;
                position:relative;
                &.active{
                    background: var(--tab-color);

                    &::before{
                        content:"";
                        border-top: 7px solid var(--border-color);
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        @include translateX;
                        top:49px;
                        z-index:2;
                    }
                    &::after{
                        content:"";
                        border-top: 6px solid var(--tab-color);
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        @include translateX;
                        top:49px;
                        z-index:2;
                    }
                }
                &:last-child a{
                    border-left:0;
                }
                a{
                    display:block;
                    width:100%;
                    height:50px;
                    line-height:50px;
                    font-size:18px;
                    font-weight:300;
                    border:1px solid var(--border-color);
                    text-align:center;

                }
                @include mediaQuery(768px){
                    &.active{
                        &::before{
                            border-top-width:5px;
                            border-left-width:6px;
                            border-right-width:6px;
                            top:39px;
                        }
                        &::after{
                            border-top-width:4px;
                            border-left-width:5px;
                            border-right-width:5px;
                            top:39px;
                        }
                    }
                    
                    a{
                        height:40px;
                        line-height:40px;
                        font-size:14px;
                    }
                }
            }
        }
        &--content{
            display:none;
            &.active{
                display:block;
            }
        }
    }

    &__form{
        display:block;

        &--input{
            margin-bottom:20px;
            @include mediaQuery(768px){
                margin-bottom:15px;
            }
        }

        .code_send{
            background: var(--tab-color);
            border:1px solid var(--border-color);
            color:var(--black-color);
        }

        &--code{
            position:relative;
            margin-bottom:30px;
            display:none;
            @include mediaQuery(768px){
                margin-bottom:15px;
            }
            &.active{
                display:block;
            }
            &.active.confirm{
                .lost__form--code-caption{
                    display:none;
                }
            }

            &-caption{
                display:flex;
                align-items:center;
                justify-content:space-between;
                font-size:11px;
                margin-bottom:8px;
                display:none;
                @include mediaQuery(768px){
                    font-size:10px;
                }

                .code-time{
                    color: var(--color-coral);
                }
            }
            &.active &-caption{
                display:flex;
            }
            &-button{
                display:flex;
                align-items:center;
                position:relative;
                
                .lost__form--input{
                    width:49%;
                    margin-bottom:0;

                    .error_msg{
                        position:absolute;
                        bottom:-15px;
                        left:0;
                        display:block;
                    }
                }
                button, a{
                    width:51%;
                }
                
            }
        }
        &--button{
            width:100%;
            button, a{
                width:100%;
            }
        }
    }
}