.mypage{
    $mypage_marginB_pc:60px;
    $mypage_marginB_mob:50px;

    & &__count{
        margin-bottom:$mypage_marginB_pc;
        @include mediaQuery(768px){
            margin-bottom:$mypage_marginB_mob;
        }
        &--ul{
            display:flex;
            width:100%;
        }
        &--li{
            display:inline-flex;
            align-items:center;
            justify-content:center;
            flex-wrap:wrap;
            flex-direction: column;
            width:100%;
            border:1px solid var(--border-color);
            border-right:0;
            text-align:center;
            min-height:65px;
            font-size:14px;
            font-weight:300;
            &:last-child{
                border-right:1px solid var(--border-color);
            }
            
            .mypage__count--count{
                font-weight:500;
            }
            @include mediaQuery(768px){
                font-size:12px;
                min-height: 50px;
            }
        }
    }
    & &__recent{
        margin-bottom: $mypage_marginB_pc;
        @include mediaQuery(768px){
            margin-bottom:$mypage_marginB_mob;
        }
        &--count{
            margin-bottom:80px;
            @include mediaQuery(991px){
                margin-bottom:30px;
            }
            &-ul{
                display:flex;
                width:100%;
                border:1px solid var(--border-grey);
                border-radius:5px;
            }
            &-li{
                position:relative;
                display:inline-flex;
                align-items:center;
                justify-content:center;
                text-align:center;
                width:100%;
                min-height:70px;
                border-right:1px solid var(--border-grey);
                font-size:16px;
                @include mediaQuery(768px){
                    font-size:12px;
                }
                
                &:last-child{
                    border-right:0;
                }
                &:last-child::before,
                &:last-child::after{
                    display:none;
                }

                &::before{
                    content:"";
                    //border-left: 8px solid var(--color-white);
                    border-left: 8px solid var(--color-white);
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    @include translateY;
                    z-index:3;
                    right:-8px;
                    @include mediaQuery(768px){
                        border-left-width:5px;
                        border-top-width:7px;
                        border-bottom-width:7px;
                        right:-5px;
                    }
                }

                &::after{
                    content:"";
                    border-left: 9px solid var(--border-color);
                    border-top: 11px solid transparent;
                    border-bottom: 11px solid transparent;
                    @include translateY;
                    z-index:2;
                    right:-9px;
                    @include mediaQuery(768px){
                        border-left-width:6px;
                        border-top-width:8px;
                        border-bottom-width:8px;
                        right:-6px;
                    }
                }
            }
            &-info{
                margin-right:20px;
                @include mediaQuery(768px){
                    margin-right:0;
                }
            }
            &-icon{
                @include mediaQuery(768px){
                    display:none;
                }
            }
            &-subject{
                font-weight:bold;
                // margin-bottom:
            }
            &-count{
                font-weight:400;
                &.coral{
                    color: var(--color-coral);
                }
            }
        }
    }

    & &__wish{
        margin-bottom:$mypage_marginB_pc;
        @include mediaQuery(768px){
            margin-bottom:$mypage_marginB_mob;
        }
    }

    & &__faq{
        &--ul{
            border-top:2px solid var(--border-color);
            border-bottom:2px solid var(--border-color);
        }

        &--li{
            border-bottom:1px solid var(--border-color);
            &:last-child{
                border-bottom:0;
            }
            details{
                padding:20px;
                @include mediaQuery(768px){
                    padding:10px 15px;
                }
                &[open]{
                    summary{
                        .mypage__faq--arrow{
                            transform:rotate(180deg);
                        }
                        
                    } 
                    
                }
                summary{
                    display:flex;
                    align-items:center;
                    cursor:pointer;
                    outline:none;
                    box-shadow:none;
                    @include mediaQuery(768px){
                        flex-wrap:wrap;
                    }
                    &::after{
                        display:none;
                        content:"";
                    }
                    &::-webkit-details-marker{
                        display:none;
                        content:"";
                    }   
                    
                    .mypage__faq--date{
                        font-size:16px;
                        width:130px;
                        @include mediaQuery(768px){
                            width:calc(100% - 60px);
                            font-size:12px;
                        }
                    }
                    button, a{
                        &.mypage__faq--btn{
                            width:70px;
                            margin-right:65px;
                            padding:0;
                            pointer-events:none;
                            @include mediaQuery(768px){
                                width:60px;
                                margin-right:0;
                            }
                        }
                    }

                    .mypage__faq--subject{
                        width:calc(100% - 265px - 19px);
                        font-size:16px;
                        font-weight:bold;
                        @include mediaQuery(768px){
                            width:calc(100% - 15px);
                            font-size:14px;
                            margin-top:5px;
                        }
                    }

                    .mypage__faq--arrow{
                        width:19px;
                        height:11px;
                        position:relative;
                        @include transition(200ms);
                        .line{
                            width:1px;
                            height:12px;
                            border-radius:5px;
                            position:absolute;
                            top:0;
                            left:5px;
                            transform:rotate(-45deg);
                            background: var(--color-black);

                            &:nth-child(2){
                                transform:rotate(45deg);
                                left:auto;
                                right:5px;
                            }
                        }
                        @include mediaQuery(768px){
                            width:15px;
                            height:9px;
                            margin-top:5px;
                            .line{
                                height:10px;
                                left:3.4px;
                                &:nth-child(2){
                                    left:auto;
                                    right:4px;
                                }
                            }
                        }
                    }
                }
                p{
                    margin-top:10px;
                    margin-left:265px;
                    padding:10px 15px;
                    background: var(--color-Lgrey);
                    @include mediaQuery(768px){
                        margin-left:0;
                        font-size:14px;
                    }
                }
            }
        }
    }
}