.mypage_shipping{
    &__cont{
        padding:40px;
        border:1px solid var(--border-blue);
        @include boxShadow;
        @include mediaQuery(768px){
            padding:25px 20px;
        }
        &.on{
            border-color:var(--color-Dgrey);
        }
    
        &:first-child{
            margin-bottom:40px;
            @include mediaQuery(768px){
                margin-bottom:30px;
            }
        }
    
        &--title{
            display:flex;
            align-items:center;
            margin-bottom:20px;
            position:relative;
    
            h5{
                font-size:24px;
                font-weight:bold;
                margin-right:20px;
                @include mediaQuery(768px){
                    font-size:16px;
                    margin-right:15px;
                }
            }
            .custom-checkbox{
                position:absolute;
                right:0;
    
                input + label .custom-checkbox__text{
                    margin-right:8px;
                    font-weight:300;
                }
                input + label .custom-checkbox__square{
                    margin-right:0;
                }
            }
        }
        &--button{
            display:inline-flex;
            button, a{
                width:auto;
                margin-right:8px;
                &:last-child{
                    margin-right:0;
                }
                &.basic-button{
                    cursor:default;
                    pointer-events:none;
                }
            }
        }
    
        &--input{
            margin-bottom:30px;
            display:flex;
            @include mediaQuery(768px){
                flex-wrap:wrap;
                margin-bottom:15px;
            }
            &-half{
                width:calc(50% - 20px);
                margin-right:40px;
                &:last-child{
                    margin-right:0;
                }
                @include mediaQuery(768px){
                    width:100%;
                    margin-right:0;
                    margin-bottom:15px;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
            }
            &.mypage_shipping__cont--addr{
                margin-bottom:20px;
                @include mediaQuery(768px){
                    margin-bottom:15px;
                }
                &:nth-child(5){
                    margin-bottom:0;
                }
                &.mypage_shipping__cont--addr-hidden{
                    display:none;
                }
            }
    
            label{
                font-size:14px;
                font-weight:bold;
                display:inline-block;
                margin-bottom:10px;
                @include mediaQuery(768px){
                    font-size:12px;
                    margin-bottom:8px;
                }
            }
        }
    }
}