.footer{
    background:#181818;
    padding:55px 0 35px;
    margin-top:100px;
    @include mediaQuery(768px){
        padding:30px 0;
        margin-top:80px;
    }
    @include mediaQuery(480px){
        margin-top:60px;
    }
    &__container{
        width:1400px;
        padding:0 15px;
        margin:0 auto;
        max-width:100%;
    }

    &__link{
        display:flex;
        margin-bottom:100px;
        @include mediaQuery(768px){
            display:none;
        }
        &--cont{
            margin-right:200px;
            @include mediaQuery(991px){
                margin-right:150px;
            }
            &:last-child{
                margin-right:0;
            }
            > a{
                font-size:16px;
                color:var(--color-white);
                font-weight:bold;
                display:block;
                margin-bottom:15px;
            }
            ul{
                li{
                    margin-bottom:15px;
                    &:last-child{
                        margin-bottom:0;
                    }
                    a{
                        font-size:16px;
                        color:var(--color-white);
                        font-weight:300;
                    }
                }
            }
        }
    }
    &__select{
        width:250px;
        @include mediaQuery(480px){
            width:200px;
        }
        select{
            width:100%;
            height:45px;
            line-height:45px;
            padding:0 15px 0 20px;
            background: #444444;
            color:var(--color-white);
            border: #444;
            @include mediaQuery(480px){
                width:100%;
                height:35px;
                line-height:35px;
                padding: 0 10px 0 15px;
                font-size:12px;
            }
        }
    }
    &__copyright{
        padding-top:15px;
        margin-top:15px;
        border-top: 1px solid #828282;
        color:var(--color-white);
        @include mediaQuery(480px){
            font-size:12px;
        }
    }
    &__etc{
        display:flex;
        align-items:center;
        margin-top:15px;
        li{
            position:relative;
            margin-right:15px;
            @include mediaQuery(480px){
                margin-right:12px;
            }
            &:last-child::after{
                display:none;
            }
            &::after{
                content:"";
                width:1px;
                height:20px;
                background:#cacaca;
                position:absolute;
                right:-8px;
                top:3px;
                @include mediaQuery(480px){
                    height:12px;
                    right:-6px;
                    top:6px;
                }
            }
            &:last-child{
                margin-right:0;
            }
            a{
                color:#CACACA;
                @include mediaQuery(480px){
                    font-size:12px;
                }
            }
        }
    }
}