.wide-container{
    width:100%;
    max-width:100%;
    padding:0 120px;
    position:relative;
    margin:0 auto;
    @include mediaQuery(1650px){
        padding:0 15px;
    }
}
.container{
    width:1230px;
    margin:0 auto;
    padding:0 15px;
    max-width:100%;
    position:relative;
}