.pop{
    position:fixed;
    z-index:10;
    width:480px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:30px;
    border-radius:5px;
    border:1px solid var(--border-Lgrey);
    background: var(--color-white);
    @include opacityHidden;
    @include transition(500ms);
    @include boxShadow;
    @include mediaQuery(768px){
        width:calc(100% - 30px);
        padding:20px 15px;
    }
    &.active{
        @include opacityVisible;
    }

    &_bg{
        position:fixed;
        z-index:9;
        width:100%;
        height:100%;
        background:rgba(10,9,9,0.5);
        top:0;
        left:0;
        @include opacityHidden;
        @include transition(500ms);
        &.active{
            @include opacityVisible;
        }
    }

    &_title{
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-bottom:20px;
        h2{
            font-size:24px;
            font-weight:bold;
        }
        @include mediaQuery(768px){
            margin-bottom:15px;
            h2{
                font-size:16px;
            }
        }
    }

    &_close{
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
        width:32px;
        height:32px;
        border:1px solid var(--border-color);

        .line{
            position:absolute;
            width:1px;
            height:14px;
            border-radius:7px;
            background: var(--color-Dgrey);
            transform:rotate(-45deg);
            &:nth-child(2){
                transform:rotate(45deg);
            }
        }

        @include mediaQuery(768px){
            width:28px;
            height:28px;

            .line{
                height:12px;
                border-radius:16px;
            }
        }
    }
    &_button{
        margin-top:30px;
        display:flex;
        align-items:center;
        justify-content:center;

        button,
        a{
            display:block;
            padding:0 50px;
            height:50px;
            line-height:50px;
            color:var(--color-white);
            background:var(--color-coral);
            margin-right:10px;
            font-size:20px;
            font-weight:300;

            &:last-child{
                margin-right:0;
            }
        }
        @include mediaQuery(768px){
            margin-top:20px;
            button,
            a{
                padding:0 35px;
                height:40px;
                line-height:35px;
                font-size:14px;
                
            }
        }
    }
    .pop_content{
        border:1px solid var(--border-color);
        padding:30px 40px;
        max-height:60vh;
        overflow:hidden;
        overflow-y:auto;
        @include boxShadow;

        &.alertPop_content{
            min-height:140px;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction: column;
            
            h5{
                display:flex;
                align-items:center;
                justify-content:center;
                font-size:22px;
                .icon{
                    margin-right:20px;
                }
            }
        }

        @include mediaQuery(768px){
            padding:20px 15px;
        }
    }
    
}