/*icon*/
[class^='ico_'] {
    display: inline-flex;
    vertical-align: middle;
    background: url('../img/ico_PageDesign.png') no-repeat;
    @include mediaQuery(768px){
        background: url('../img/ico_PageDesign_Mo.png') no-repeat;
    }
}


.ico_review{
    width:24px;
    height:22px;
    background:url('../img/img_star.png') no-repeat;
    background-size:24px 22px;
    vertical-align:baseline;
    @include mediaQuery(768px){
        width:18px;
        height:16px;
        background-size:18px 16px;
    }
}
input:checked + label .ico_review{
    background-image:url('../img/img_star_red.png');
}

.ico_starR {
    width: 14px;
    height: 14px;
    background-position: 0px -240px;
    @include mediaQuery(768px){
        width: 11px;
        height: 11px;
        background-position: 0 -192px;
    }
}
.ico_starG {
    width: 14px;
    height: 14px;
    background-position: -120px -240px;
    @include mediaQuery(768px){
        width: 11px;
        height: 11px;
        background-position: -96px -192px;
    }
}
.ico_best{
    width: 55px;
    height: 45px;
    z-index: 2;
    background-position:-480px -240px;
    @include mediaQuery(991px){
        background: url('../img/ico_PageDesign_Mo.png') no-repeat;
        width: 44px;
        height: 34px;
        background-position: -384px -192px;
    }
}
.ico_skinCare {
    width: 30px;
    height: 30px;
    background-position: -240px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -192px -288px;
    }
}
.ico_makeup {
    width: 30px;
    height: 30px;
    background-position: -360px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -288px -288px;
    }
}
.ico_nail {
    width: 30px;
    height: 30px;
    background-position: -480px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -384px -288px;
    }
}
.ico_houseProduct {
    width: 30px;
    height: 30px;
    background-position: -600px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -480px -288px;
    }
}
.ico_smallTool {
    width: 30px;
    height: 30px;
    background-position: -720px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -576px -288px;
    }
}
.ico_beautyFood {
    width: 30px;
    height: 30px;
    background-position: -840px -360px;
    @include mediaQuery(768px){
        width:24px;
        height:24px;
        background-position: -672px -288px;
    }
}
.ico_cart{
    width: 21px;
    height: 18px;
    background-position: -7px -368px;
    z-index: 1;
    @include mediaQuery(768px){
        width:17px;
        height:14px;
        background-position: -6px -294px;
    }
}
.ico_like{
    width: 20px;
    height: 18px;
    background-position: -128px -369px;
    z-index: 1;
    @include mediaQuery(768px){
        width:16px;
        height:14px;
        background-position: -101px -294px
    }
}

.ico_link{
    width: 32px;
    height: 32px;
    background-position: -720px -120px;
    @include mediaQuery(768px){
        width: 23px;
        height: 24px;
        background-position: -576px -96px;
    }
}

.ico_heartG {
    width: 31px;
    height: 28px;
    background-position: -360px -240px;
    @include mediaQuery(768px){
        width: 19px;
        height: 17px;
        background-position: -288px -192px;
    }
}
.ico_share {
    width: 37px;
    height: 37px;
    background-position: -840px -120px;
    @include mediaQuery(768px){
        width: 19px;
        height: 20px;
        background-position: -672px -96px;
    }
}

.ico_seller {
    width: 40px;
    height: 40px;
    background-position: 0px 0px;
    @include mediaQuery(768px){
        width: 32px;
        height: 32px;
        background-position: 0px 0px;
    }
}
.ico_delivery {
    width: 40px;
    height: 40px;
    background-position: -120px 0px;
    @include mediaQuery(768px){
        width: 32px;
        height: 32px;
        background-position: -96px 0px;
    }
}
.ico_checkout {
    width: 40px;
    height: 40px;
    background-position: -240px 0px;
    @include mediaQuery(768px){
        width: 32px;
        height: 32px;
        background-position: -192px 0px;
    }
}
.ico_Bpoint {
    width: 40px;
    height: 40px;
    background-position: -360px 0px;
    @include mediaQuery(768px){
        width: 32px;
        height: 32px;
        background-position: -288px 0px;
    }
}
.ico_gift {
    width: 40px;
    height: 40px;
    background-position: -480px 0px;
    @include mediaQuery(768px){
        width: 32px;
        height: 32px;
        background-position: -384px 0px;
    }
}
.ico_arrBottom {
    width: 20px;
    height: 10px;
    background-position: -240px -120px;
    @include mediaQuery(768px){
        width:20px;
        height:10px;
        background-position:-192px -96px;
    }
}

.ico_increase {
    width: 20px;
    height: 20px;
    background-position: -480px -120px;
    @include mediaQuery(768px){
        width:17px;
        height:17px;
        background-position: -384px -96px;
    }
}
.ico_decrease {
    width: 20px;
    height: 20px;
    background-position: -600px -120px;
    @include mediaQuery(768px){
        width:17px;
        height:17px;
        background-position: -480px -96px;
    }
}

.item-review{
    display:inline-flex;
    align-items:center;
    i{
        margin-right:4px;
        &:last-child{
            margin-right:0;
        }
    }
}

.ico_close{
    width: 20px;
    height: 20px;
    background-position: -480px -120px;
    transform: rotate(45deg);
    @include mediaQuery(768px){
        background-position:-384px -96px;
        display: block;
        position: relative;
        top: 4px;
        left: 0px;
    }
}

@include mediaQuery(768px){
    .ico_likeBtn {
        width: 20px;
        height: 20px;
        background-position: -767px -96px;
    }
}

.ico_noneCart{
    display: block;
    width: 76px;
    height: 64px;
    background-position: -1077px -120px;
    @include mediaQuery(768px){
        display: block;
        width: 45px;
        height: 37px;
        background-position: -862px -96px;
    }
}