.custom-radio{
    display:inline-flex;
    align-items:center;
    & &__cont{
        margin-right:8px;
        &:last-child{margin-right:0;}
    }
    & input[type='radio']{
        display:none;
    }
    & input + label{
        display:inline-flex;
        align-items:center;
        cursor:pointer;

        .custom-radio__circle{
            width:16px;
            height:16px;
            border-radius:50%;
            border:1px solid #C2CAD3;
            margin-right:10px;
            position:relative;
            top:1px;
        }
        .custom-radio__text{
            font-size:14px;
        }
        @include mediaQuery(768px){
            .custom-radio__circle{
                width:14px;
                height:14px;
                margin-right:5px;
            }
            .custom-radio__text{
                font-size:12px;
            }
        }
    }
    & input:checked + label{
        .custom-radio__circle{
            &::after{
                content:"";
                width:8px;
                height:8px;
                border-radius:50%;
                background: var(--color-coral);
                position:absolute;
                top:3px;
                left:3px;
                @include mediaQuery(768px){
                    width:6px;
                    height:6px;
                    top:3px;
                    left:3px;
                }
            }
        }
    }
}