.custom-checkbox{
    input[type='checkbox']{
        display:none;
    }

    input + label{
        display:flex;
        align-items:flex-start;
        cursor:pointer;

        .custom-checkbox__square{
            width:17px;
            height:17px;
            border:1px solid var(--color-Lblue);
            margin-right:8px;
            position:relative;
            top:1px;
        }
        .custom-checkbox__text{
            font-size:14px;
            width:calc(100% - 25px);
            user-select: none;
        }
        @include mediaQuery(768px){
            .custom-checkbox__square{
                width:15px;
                height:15px;
                margin-right:7px;
                top:3px;
            }
            .custom-checkbox__text{
                font-size:12px;
                width:calc(100% - 22px);
            }
        }
    }
    input:checked + label{
        .custom-checkbox__square{
            border-color:var(--color-coral);
            &::before{
                content:"";
                width:1px;
                height:6px;
                background:#707070;
                position:absolute;
                top:5px;
                left:4px;
                transform:rotate(-45deg);
            }
            &::after{
                content:"";
                width:1px;
                height:10px;
                background:#707070;
                position:absolute;
                top:2px;
                left:9.4px;
                transform:rotate(45deg);
            }
            @include mediaQuery(768px){
                &::before{
                    height:4px;
                    top:6px;
                    left:4px;
                }
                &::after{
                    height:8px;
                    top:2px;
                    left:7.9px;
                }
            }
        }
    }
}