.items{
    & &__image{
        position:relative;

        &:hover .items__btns{
            @include opacityVisible;
        }
        &:hover > a{
            &::before{
                @include opacityVisible;
                @include mediaQuery(768px){
                    display:none;
                }
            }
            img{
                transform:scale(1.05);
            }
        }

        > a{
            display:block;
            overflow:hidden;
            border-radius:35px 0;
            @include boxShadow;
            @include mediaQuery(768px){
                border-radius:25px 0;
            }
            &::before{
                content:"";
                position:absolute;
                border-radius:35px 0;
                width:100%;
                height:100%;
                z-index:2;
                background:rgba(0,0,0,0.5);
                top:0;
                left:0;
                @include transition(200ms);
                @include opacityHidden;
                @include mediaQuery(768px){
                    border-radius:25px 0;
                    display:none;
                }
            }

            img{
                @include transition(200ms);
            }
        }
    }
    & &__btns{
        position:absolute;
        right:-18px;
        top:5px;
        z-index:3;
        @include transition(200ms);
        @include opacityHidden;
        @include mediaQuery(1650px){
            top:auto;
            right:5px;
            bottom:5px;
        }

        a{
            display:flex;
            align-items:center;
            justify-content:center;
            width:37px;
            height:37px;
            border-radius:50%;
            background:var(--color-coral);
            box-shadow: 2px 2px 5px 1px rgba(1, 1, 1, 0.2);
            margin-bottom:10px;
            &:last-child{
                margin-bottom:0;
            }
            @include mediaQuery(768px){
                width:32px;
                height:32px;
                margin-bottom:7px;
            }
        }
    }
    & &__ranking{
        position:absolute;
        top:10px;
        left:10px;
        z-index:1;

        .ico_best{
            position:absolute;
            z-index:1;
            top:-30px;
            left:-5px;
            
            @include mediaQuery(991px){
                top:-25px;
                left:1px;
            }
            @include mediaQuery(768px){
                left:-4px;
            }
        }

        .ranking{
            width:45px;
            height:45px;
            border-radius:50%;
            border:1px solid #707070;
            display:flex;
            align-items:center;
            justify-content:center;
            @include boxShadow;
            i{
                font-size:26px;
                font-weight:500;
                font-style:italic;
                position:relative;
                top:-1px;
                left:-2px;
            }

            @include mediaQuery(768px){
                width:35px;
                height:35px;
                i{
                    font-size:16px;
                }
            }
        }
    }
    & &__link{
        display:block;
        padding:10px 12px 0;
        margin-bottom:15px;
        @include mediaQuery(768px){
            padding:8px 10px 0;
            margin-bottom:5px;
        }

        .items__brand{
            font-size:16px;
            color:var(--color-black);
            font-weight:bold;
            margin-bottom:5px;
            @include ellipsis(1);
            @include mediaQuery(768px){
                font-size:10px;
            }
        }
        .items__title{
            font-size:20px;
            @include ellipsis(1);
            @include mediaQuery(768px){
                font-size:14px;
            }
        }
        .items__price{
            margin-top:10px;
            display:flex;
            align-items:center;

            .items__price--sale{
                font-size:16px;
                font-weight:bold;
                color: var(--color-coral);
                margin-right:25px;
                @include mediaQuery(768px){
                    margin-right:10px;
                    font-size:12px;
                }
            }
            .items__price--price{
                font-size:23px;
                @include mediaQuery(768px){
                    font-size:14px;
                }
            }
            .items__price--regular{
                font-size:16px;
                text-decoration: line-through;
                margin-left:10px;
                color:#999;
                @include mediaQuery(768px){
                    font-size:12px;
                }
            }
        }
    }
    & &__review-count{
        display:flex;
        align-items:center;
        justify-content:center;
        
        .items__review{
            position:relative;
            &::after{
                content:"";
                width:1px;
                height:15px;
                background:var(--color-black);
                position:absolute;
                top:6px;
                right:-10px;
                @include mediaQuery(768px){
                    height:12px;
                    top:6px;
                    right:-7px;
                }
            }
            margin-right:15px;
        }
        .items__count{
            font-size:14px;
            @include mediaQuery(768px){
                font-size:10px;
                position:relative;
                top:2px;
            }
        }
    }
    & &__labels{
        position:absolute; 
        left:0px;
        bottom:0px;
        width:100%;
        padding:8px;
        z-index:1;
        display:flex;
        
        .items__label{
            padding:3px 10px;
            background:var(--color-black);
            border:1px solid var(--color-black);
            color:var(--color-white);
            font-size:10px;
            font-weight:bold;
            margin-right:5px;
            &:last-child{
                margin-right:0;
            }
            @include mediaQuery(768px){
                padding:2px 5px;
                position:relative;
                transform: scale(0.9);
                margin-right:0px;
            }

            &.yellow{
                background:#B5CC18;
                border-color:#515050;
                color:#323333;
            }
            &.green{
                background:#21BA45;
                border-color:var(--color-white);
            }
        }
    }
}

.subItems-wrap{
    .items{
        .items__link{
            .items__brand{
                font-size:14px;
            }
            .items__title{
                font-size:17px;
            }
        }
        .items__price{
            .items__price--sale{
                margin-right:15px;
            }
            .items__price--price{
                font-size:20px;
            }
            .items__price--regular{
                font-size:14px;
                margin-left:15px;
            }
        }
        .items__review-count{
            .items__count{
                font-size:13px;
            }
        }
        @include mediaQuery(768px){
            .items__link{
                .items__brand{
                    font-size:10px;
                }
                .items__title{
                    font-size:14px;
                }
            }
            .items__price{
                .items__price--sale{
                    font-size:12px;
                    margin-right:10px;
                }
                .items__price--price{
                    font-size:14px;
                }
                .items__price--regular{
                    font-size:12px;
                }
            }
            .items__review-count{
                .items__count{
                    font-size:10px;
                }
            }
        }
    }

    &.row5,
    &.row4{
        .items{
            .items__link{
                .items__brand{
                    font-size:12px;
                }
                .items__title{
                    font-size:14px;
                }
            }
            .items__price{
                .items__price--sale{
                    font-size:16px;
                }
                .items__price--price{
                    font-size:16px;
                }
                .items__price--regular{
                    font-size:14px;
                }
            }
            .items__review-count{
                .items__count{
                    font-size:13px;
                }
            }
            @include mediaQuery(768px){
                .items__link{
                    .items__brand{
                        font-size:10px;
                    }
                    .items__title{
                        font-size:14px;
                    }
                }
                .items__price{
                    .items__price--sale{
                        font-size:12px;
                        margin-right:10px;
                    }
                    .items__price--price{
                        font-size:14px;
                    }
                    .items__price--regular{
                        font-size:12px;
                    }
                }
                .items__review-count{
                    .items__count{
                        font-size:10px;
                    }
                }
            }
        }
    }
}

/*plp product list*/
.product{
    .product__item{
        position:relative;
        display:flex;
        flex-wrap:wrap;
        margin-bottom:-40px;
        @include mediaQuery(768px){
            margin-bottom:-30px;
        }
        .items{
            width:calc(25% - 37.5px);
            margin-right:50px;
            margin-bottom:40px;
            &:nth-child(4n){
                margin-right:0;
            }

            @include mediaQuery(1230px){
                width:calc(33.3333% - 20px);
                margin-right:30px;

                &:nth-child(4n){
                    margin-right:30px;
                }
                &:nth-child(3n){
                    margin-right:0;
                }
                &:nth-child(4) .items__ranking{
                    display:none;
                }
            }

            @include mediaQuery(768px){
                width:calc(50% - 7.5px);
                margin-right:15px;
                margin-bottom:30px;
                &:nth-child(3n){
                    margin-right:15px;
                }
                &:nth-child(2n){
                    margin-right:0;
                }
                &:nth-child(3) .items__ranking{
                    display:none;
                }
            }
        }
    }
}

/*pdp*/
.row5{
    display:flex;
    flex-wrap:wrap;
    
    .swiper-slide{
        width:calc(20% - 32px);
        margin-right:40px;
        @include mediaQuery(768px){
            width:calc(50% - 7.5px);
            margin-right:15px;
        }        
        &:last-child{
            margin-right:0;
        }
    }
    
}

.row4{
    display:flex;
    flex-wrap:wrap;
    .swiper-slide{
        width:calc(25% - 21px);
        margin-right:28px;
        @include mediaQuery(768px){
            width:calc(50% - 7.5px);
            margin-right:15px;
        } 
        &:last-child{
            margin-right:0;
        }
    }
}

.mobile_body .horizontal-scroll{
    @include mediaQuery(768px){
        width:calc(100% + 15px);
        overflow:hidden;
        
    }
    .items-wrap{
        @include mediaQuery(480px){
            overflow-x:auto !important;
            -ms-overflow-style: none; 
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}