.items{
    & &__image{
        position:relative;

        &:hover .items__btns{
            @include opacityVisible;
        }
        &:hover > a{
            &::before{
                @include opacityVisible;
            }
            img{
                transform:scale(1.05);
            }
        }

        > a{
            display:block;
            overflow:hidden;
            border-radius:35px 0;
            @include boxShadow;
            @include mediaQuery(768px){
                border-radius:25px 0;
            }
            &::before{
                content:"";
                position:absolute;
                border-radius:35px 0;
                width:100%;
                height:100%;
                z-index:2;
                background:rgba(0,0,0,0.5);
                @include transition(200ms);
                @include opacityHidden;
                @include mediaQuery(768px){
                    border-radius:25px 0;
                }
            }

            img{
                @include transition(200ms);
            }
        }
    }
    & &__btns{
        position:absolute;
        right:-18px;
        top:5px;
        z-index:3;
        @include transition(200ms);
        @include opacityHidden;
        @include mediaQuery(1650px){
            top:auto;
            right:5px;
            bottom:5px;
        }

        a{
            display:block;
            width:37px;
            height:37px;
            border-radius:50%;
            background:var(--color-coral);
            margin-bottom:10px;

            &:last-child{
                margin-bottom:0;
            }
        }
    }
    & &__link{
        display:block;
        padding:10px 12px 0;
        margin-bottom:15px;
        @include mediaQuery(768px){
            padding:8px 10px 0;
            margin-bottom:5px;
        }

        .items__brand{
            font-size:16px;
            color:var(--color-black);
            font-weight:bold;
            margin-bottom:5px;
            @include ellipsis(1);
            @include mediaQuery(768px){
                font-size:10px;
            }
        }
        .items__title{
            font-size:20px;
            @include ellipsis(1);
            @include mediaQuery(768px){
                font-size:14px;
            }
        }
        .items__price{
            margin-top:10px;
            display:flex;
            align-items:center;

            .items__price--sale{
                font-size:16px;
                font-weight:bold;
                color: var(--color-coral);
                margin-right:25px;
                @include mediaQuery(768px){
                    margin-right:10px;
                    font-size:12px;
                }
            }
            .items__price--price{
                font-size:23px;
                @include mediaQuery(768px){
                    font-size:14px;
                }
            }
            .items__price--regular{
                font-size:16px;
                text-decoration: line-through;
                margin-left:10px;
                color:#999;
                @include mediaQuery(768px){
                    font-size:12px;
                }
            }
        }
    }
    & &__review-count{
        display:flex;
        align-items:center;
        justify-content:center;
        
        .items__review{
            position:relative;
            &::after{
                content:"";
                width:1px;
                height:15px;
                background:var(--color-black);
                position:absolute;
                top:6px;
                right:-13px;
                @include mediaQuery(768px){
                    height:12px;
                    top:6px;
                    right:-7px;
                }
            }
            margin-right:15px;
        }
        .items__count{
            font-size:14px;
            @include mediaQuery(768px){
                font-size:10px;
                position:relative;
                top:2px;
            }
        }
    }
}