.custom-textarea{
    border:1px solid var(--border-color);
    box-shadow:none;
    outline:none;
    resize:none;
    width:100%;
    height:200px;
    padding:15px 25px;
    font-size:16px;
    
    @include mediaQuery(768px){
        padding:10px 15px;
        height:150px;
        font-size:14px;
    }
    
    &::placeholder{
        color:var(--color-Dblue);
    }
    
}